@import '../../../variables';

.root-slide {
  margin-top: 10px;

  &.primary-color-slide {
    color: $primary-color;
  }

  .rail-slide,
  .track-slide {
    height: 4px;
  }

  .thumb-slide {
    height: 16px;
    width: 16px;
    box-shadow: 0 2px 8px 0 rgba(7, 30, 179, 0.24);
    border: solid 5px $primary-color;
    background: #fff;

    &.slide-active {
      box-shadow: 0px 0px 0px 14px rgba(63, 81, 181, 0.16);

      &:hover {
        box-shadow: 0px 0px 0px 14px rgba(63, 81, 181, 0.16);
      }
    }

    &:hover {
      box-shadow: 0px 0px 0px 8px rgba(63, 81, 181, 0.16);
    }
  }
}
