@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap');
@import '../../variables.scss';

.testimonials-page {
  padding-top: 120px;

  &__title {
    align-items: center;
    background-color: $primary-color;
    color: #ffffff;
    display: inline-block;
    font-size: 36px;
    font-weight: 900;
    justify-content: center;
    line-height: 1.11;
    letter-spacing: 0.77px;
    margin: 0 0 80px;
    padding: 8px;
  }

  @media (max-width: 599px) {
    padding-top: 30px;
  }
}
