@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,900&display=swap');
@import './variables';

.body-app {
  background-color: #f9faff;
  height: 100vh;
  min-height: 750px;
  display: flex;
  flex-direction: column;
  font-family: $primary-font;
  color: #161616;

  @media (max-width: 599px) {
    height: auto;
    padding-bottom: 40px;
  }
}

.h-100 {
  height: 100%;
}

.justify-content-f-e {
  justify-content: flex-end;
}

.justify-content-s-b {
  justify-content: space-between;
}
